.hire-btn {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 150px;
  height: 60px;
  border: 3px solid rgba(204, 17, 17, 0.733);
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  background: transparent;
  font-size: 1.2em;
  font-weight: 550;
  color: #002fff;
  text-decoration: none;
  text-align: center;
  line-height: 54px;
  font-family: gramnarrow;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 9999;
}

.hire-btn:hover {
  background: #1c1b19;
  color: #dc7501;
  font-size: 1.5em;
}

.hire-btn {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 100px;
  height: 60px;
  border: 3px solid #1c1b19 !important;
  border-radius: 100px !important;
  transition: all 0.3s !important;
  cursor: pointer !important;
  background: #f5f3ef !important;
  font-size: 1.2em !important;
  font-weight: 550 !important;
  color: #1c1b19 !important;
  text-decoration: none;
  text-align: center;
  line-height: 54px;
  font-family: gramnarrow !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  z-index: 9999;
}

.hire-btn:hover {
  background: #1c1b19 !important;
  color: #c5bdb4 !important;
  font-size: 1em !important;
}