<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>My mental health platform</p>
  </body>
</html>

<!DOCTYPE html>
<html>
    </head>
    <title>my website</title>
</html>


<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      body {
        background-color: lightblue;
      }

      h1 {
        color: purple;  
      }
      h2 {
        color: red;
      }

      p {
        color: black;
      }
    </style>
  </head>
  <body>
    <h2>Hello World! man</h2>
    <p>My mental health platform</p>
  </body>
</html>

</style> 
</head>
    <h1>Big Heading</h1>
    </style>
    position:sticky;

