.second{
    height: 100vh;
}
.sec-line{
    margin-top: 12%;
    left: 2%;
    width: 30%;
    height: 47px;
    border-bottom: 1px solid #1c1b19;
    position: absolute;
}
.sec-line-two{
    margin-top: 30%;
    left: 2%;
    width: 30%;
    height: 47px;
    border-bottom: 1px solid #1c1b19;
    position: absolute;
}
.sec-line-three{
    margin-top: 54%;
    left: 2%;
    width: 80%;
    height: 47px;
    border-bottom: 1px solid #1c1b19;
    position: absolute;
    transform: rotate(90deg);
}
.inter{
    margin-top: 15%;
    left: 2.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6.9em;
    text-transform: uppercase;
    position: absolute;
    color: #1c1b19;
    letter-spacing: -5px;
}
.artist{
    position: absolute;
    margin-top: 25%;
    left: 2%;
    font-size: 6em;
    color: #1c1b19;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
    -moz-transform: scale(1, 1.5); /* Firefox */
    -ms-transform: scale(1, 1.5); /* IE 9+ */
    -o-transform: scale(1, 1.5); /* Opera */
}
.pic-bay{
    position: absolute;
    margin-top: 5%;
    right:0.1%;
    height: 800px;
    width: 1000px;
}
.face{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}